/* New.css */

.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1a1a1a;
  color: #f2f2f2;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #f2f2f2;
}

.input {
  width: calc(100% - 20px);
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
}

.textarea {
  width: calc(100% - 20px);
  min-height: 100px;
  resize: vertical;
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
}

.checkbox-label {
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 5px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.button:hover {
  background-color: #0056b3;
}
